<div class="row">
  <div class="col">
    <div class="container row">
      {{> Producto}}
    </div>
  </div>
  {{!-- <div class="col" style="background-color: red;"> --}}
    {{!-- <h1>Carrito</h1> --}}
  {{!-- </div> --}}
</div>


