<nav class="navbar navbar-light bg-success">
  <div class="container">
    {{!-- <a class="navbar-brand" href="/">Navbar</a> --}}
    <a href="/" class="m-auto"><i class="fas fa-shopping-cart my-2 text-light fs-2"></i></a>
  </div>
</nav>
