<nav class="navbar navbar-light bg-success">
  <div class="container">
    {{!-- <a class="navbar-brand" href="/">Navbar</a> --}}
    <i class="fas fa-shopping-cart m-auto my-2 text-light fs-2"></i>
  </div>
</nav>
