{{#each productos}}
<div class="card col-4 my-3" style="width: 18rem;">
  <img src="/images/{{this}}.png" class="card-img-top" alt="{{this}}">
  <div class="card-body">
    <h5 class="card-title">{{this}}</h5>
    <a href="#" class="btn btn-primary">Añadir al carrito</a>
  </div>
</div>
{{/each}}
