<div class="row d-flex justify-content-center text-center">
  {{#each productos}}
  {{!-- <div class="card col-6 m-2" style="width: 18rem;"> --}}
  <div class="card col-4">
    <img src="/images/{{this}}.png" class="card-img-top" alt="{{this}}">
    <div class="card-body">
      <h5 class="card-title text-capitalize">{{this}}</h5>
      <a href="/modal/{{this}}" class="btn btn-success botonModal">Añadir al carrito</a>
    </div>
  </div>
  {{/each}}
</div>
